:root {
    --main-color: rgb(25, 38, 60);
    --main-color-light: rgb(240, 240, 250);
    --accent-color: rgb(255, 99, 71);
    --grey-color: rgb(180, 180, 180);
    --grey-lighter-color: rgb(220, 220, 220);
  }
  
  * {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--main-color-light);
    color: #0a0f33;
  }

  button {
    cursor: pointer;
    font-family: inherit;
    padding: 12px 15px;
    margin: 10px 0 30px 10px;
    font-weight: bold;
    letter-spacing: 0.6px;
    outline: none;
    border: none;
    border-radius: 8px;
    background: var(--main-color);
    color: #fff;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background: var(--accent-color);
    color: #fff;
  }

  .tag {
    font-size: 0.9rem;
    color: #333;
    padding: 8px 12px;
    border-radius: 8px;
    background: var(--grey-color);
    cursor: pointer;
  }
  
  .tag:hover {
    background: var(--grey-lighter-color);
  }
  
  .tag.selected {
    background: var(--accent-color);
    color: white;
  }

  input, select {
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px 10px;
    border: 1px solid var(--grey-color);
    border-radius: 8px;
  }

  .card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .card small {
    color: #444;
  }
  
  .card p {
    margin: 15px 0;
    line-height: 1.6;
    font-size: 1rem;
  }
  
  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .card button {
    margin-top: 15px;
  }
  
  .selected {
    border: 2px solid var(--accent-color);
  }
  
  .important {
    background-color: var(--accent-color);
    color: white;
  }

  header {
    margin: 20px 50px;
    text-align: center;
  }
  
  header h1 {
    padding: 20px;
    font-size: 26px;
    font-weight: bold;
  }

  .cards-view {
    margin: 0 50px;
  }
  
  .cards-bar {
    padding-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .cards-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 20px;
  }

  @media (min-width: 1080px) {
    .cards-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }